<div class="mb-5">
  <%= image_tag @shrine_post.image_url, class: "img-fluid" %>
</div>
<p>
  <strong>Title:</strong>
  <%= @shrine_post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @shrine_post.description %>
</p>

<%= link_to 'Edit', edit_shrine_post_path(@shrine_post) %> |
<%= link_to 'Back', shrine_posts_path %>
