<div class="my-5">
  <%= image_tag @carrierwave_post.image_url, class: "img-fluid" %>
</div>
<p>
  <strong>Title:</strong>
  <%= @carrierwave_post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @carrierwave_post.description %>
</p>

<%= link_to 'Edit', edit_carrierwave_post_path(@carrierwave_post) %> |
<%= link_to 'Back', carrierwave_posts_path %>
