<!DOCTYPE html>
<html>
  <head>
    <title>Rails Uploaders</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <div class="container mt-5">
      <%= render "layouts/notice" if notice.present?  %>

      <%= yield %>
    </div>
  </body>
</html>
